<div class="d-flex justify-content-center"><h1>Editing Artist</h1></div>

<%= render 'form', artist: @artist %>

<div class="d-flex justify-content-center">

<%= link_to 'Show', @artist %> |
<%= link_to 'Back', artists_path %>
</div>
